body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tokimonFormDiv {
  width: 300px;
  margin-left: 40%;
}

.submitButton {
  width: 300px;
  margin-bottom: 200px;
  margin-top: 20;
}

.addTokimon {
  padding-left: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  background-color: #F0F0F0;
}

td, th, tr{
  text-align: center;
}
